SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/hrmss_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root
SPRING_JPA_HIBERNATE_DDL_AUTO=update
APP_UPLOAD_DIR=uploads/faces
PYTHON_FACE_API_URL=http://localhost:8000
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email_here
SPRING_MAIL_PASSWORD=your_app_password_here
